<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">Account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Account Editor</h1>
<hr>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/update/password/{{accountId}}">Update password</a>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/update/all-info/{{accountId}}">Update account name and username</a>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/list">Go to list</a>


<!-- routerLink="update/password/{{accountId}}" -->