<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Pagina Inicial</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/account/list">Lista</a>
        </li>
        <li class="breadcrumb-item">
            Editar Geral
        </li>
    </ol>
</nav>
<h1>Editando a conta {{accountName}}</h1>
<hr>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/update/password/{{accountId}}">Atualizar senha</a>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/update/all-info/{{accountId}}">Atualizar Nome da Conta ou Usuario</a>

<a class="btn btn-secondary col-2 me-4" routerLink="/account/list">Voltar a lista</a>


<!-- routerLink="update/password/{{accountId}}" -->