<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">Account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Account Editor</h1>
<hr>

<form class="form" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="account">Account Name</label>
            <input type="text" class="form-control" id="account" formControlName="account" placeholder="">

            @if (form.controls['account'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }

            @if (form.controls['account'].hasError('minlength')) {
                <p class="text-danger">Tem que ter no minimo {{accountMinLength}}</p>
            }

            @if (form.controls['account'].hasError('maxlength')) {
                <p class="text-danger">Tem que ter no maximo {{accountMaxLength}}</p>
            }
        </div>
        <div class="col-12 text-end mt-2">
            <div class="col-12 text-end mt-2">
                <a class="btn btn-secondary col-2 me-4" routerLink="/account/list">Go to list</a>
                <button class="btn btn-primary col-2" [disabled]="!validadeFields()">Create</button>
            </div>
        </div>
    </div>
</form>

