<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Pagina Inicial</a>
        </li>
    </ol>
</nav>
<h1>Criando uma nova conta</h1>
<hr>

<form class="form" [formGroup]="form" (ngSubmit)="create()">
    <div class="form-row">
        <div class="form-group col-12 mt-2">
            <label for="account">Nome da Conta</label>
            <input type="text" class="form-control" id="account" formControlName="account" placeholder="">

            @if (form.controls['account'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }

            @if (form.controls['account'].hasError('minlength')) {
                <p class="text-danger">Tem que ter no minimo {{accountMinLength}}</p>
            }

            @if (form.controls['account'].hasError('maxlength')) {
                <p class="text-danger">Tem que ter no maximo {{accountMaxLength}}</p>
            }
        </div>
        <div class="form-group col-12 mt-2">
            <label for="username">Usuario</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="">

            @if (form.controls['username'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }

            @if (form.controls['username'].hasError('minlength')) {
                <p class="text-danger">Tem que ter no minimo {{usernameMinLength}}</p>
            }

            @if (form.controls['username'].hasError('maxlength')) {
                <p class="text-danger">Tem que ter no maximo {{usernameMaxLength}}</p>
            }
        </div>
        <div class="form-group col-12 mt-2">
            <label for="password">Senha</label>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="password" placeholder="">
                <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()" tabindex="-1">
                    {{ showPassword ? 'Ocultar' : 'Mostrar' }}
                </button>
            </div>

            @if (form.controls['password'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }
        </div>
        <div class="form-group col-12 mt-2">
            <label for="confirmPassword">Confirmar Senha</label>
            <div class="input-group">
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="">
                <button type="button" class="btn btn-outline-secondary" (click)="toggleShowConfirmPassword()" tabindex="-1">
                    {{ showConfirmPassword ? 'Ocultar' : 'Mostrar' }}
                </button>
            </div>

            @if (form.controls['confirmPassword'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }
            @else if (!arePasswordsValid()) {
                <p class="text-danger"> As senhas não são iguais</p>
            }
        </div>
        <hr>
        <div class="form-group col-12 mt-2">
            <label for="mainKey">Chave Mestra</label>
            <div class="input-group">
                <input [type]="showMainKey ? 'text' : 'password'" class="form-control" id="mainKey" formControlName="mainKey" placeholder="">
                <button type="button" class="btn btn-outline-secondary" (click)="toggleShowMainKey()" tabindex="-1">
                    {{ showMainKey ? 'Ocultar' : 'Mostrar' }}
                </button>
            </div>

            @if (form.controls['mainKey'].hasError('required')) {
                <p class="text-danger">Campo obrigatório</p>
            }
            @if (form.controls['mainKey'].hasError('minlength')) {
                <p class="text-danger">Tem que ter no mínimo {{mainKeyMinLength}} caracteres</p>
            }
            @if (form.controls['mainKey'].hasError('complexity')) {
                <p class="text-danger">
                    Deve conter pelo menos 1 letra maiúscula, 1 letra minúscula, 1 número e 1 caractere especial
                </p>
            }
        </div>
        <div class="col-12 text-end mt-2">
            <div class="col-12 text-end mt-2">
                <a class="btn btn-secondary col-2 me-4" routerLink="/account/list">Ir para sua lista</a>
                <button class="btn btn-primary col-2" [disabled]="!validadeFields()">Criar</button>
            </div>
        </div>
    </div>
</form>

